<div class=media>
  <div class=media-left>
    <a href=#> <img class="pull-left img_comments" class=media-object src="http://myweb.uiowa.edu/hhameed/img/avatar.jpg" alt="Generic placeholder image"> </a></div>
  <div class=media-body id="body_comment_<%= comment.id %>">
    <div><strong><%= comment.user.name %></strong></div>
    <div><%= comment.body %></div>
  </div>
  <div class=media-body id="edit_comment_<%= comment.id %>" style="display: none">
    <textarea class="boxsizingBorder"><%= comment.body %></textarea>
    <input class="btn btn-default" type="submit" value="Update">
    <input class="btn btn-default" type="submit" value="Cancel">
  </div>
</div>