
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
       
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.posts.any? %>
      <h3>posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>

<h1>My Profile</h1>

<b>
<h3>Name: <%= @current_user.name %></h3> 
<hr>
<h3>Email id:  <%= @current_user.email %></h3>
<hr>
<b>
<div>
<% @posts.each do |post| %>
   <%=post.title%>
  <% end %>
</div>

</b>

