<p id="notice"><%= notice %></p>

<div class="row grid">
  <% @posts.each do |post| %>
      <div class="col-sm-6 col-md-3 grid-item">
        <div class="thumbnail">
          <img src="<%= post.thumbnail %>" alt="<%= post.title %>">
          <div class="caption">
            <h3><%= post.title %></h3>
            <% body = strip_tags(post.body) %>
            <p><%= body[0..200].gsub(/\s\w+\s*$/,'...') %></p>
            <p><a href="<%= url_for post_path(post) %>" class="btn btn-primary" role="button">View</a></p>
          </div>
        </div>
      </div>
  <% end %>
</div>

