<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SocialNewsNetwork" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  
  <body>
    <div class='modal fade' id="loginModal" tabindex=-1 role="dialog"> 
      <div class='modal-dialog modal-sm'>
        <div class='modal-content'>
          <div class='modal-header'>
            <%= link_to "&times;".html_safe, '#', class: 'close', data:{dismiss:'modal'}, aria:{hidden:'true'} %>
            <h3> Login Form </h3>
          </div>
          <div class='modal-body'>
            <%= link_to "/auth/facebook", {:style=>'color:#3b5998;'} do %>
              <div class="btn-lg btn-block btn-social btn-facebook" background-color="#3b5998"> 
                  <i class="fa fa-facebook"></i> Sign in with Facebook
              </div>
            <% end %>
            <%= form_tag login_path, :method => :post do %>
              <div class='form-group'>
              <%= text_field :user, :user_id, :class => "form-control", :autocomplete=>"on",:type=>"text", :placeholder=>"User ID", :autofocus=>"true", :required=>"true" %>
  	          </div>
              <div class='form-group'>
              <%= text_field :user, :password, :class =>"form-control", :type=>"password",:placeholder=>"Password", :required=>"true" %>
              </div>
              <a href="#" class="btn btn-primary" role="button">Login</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SNN</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <div class="navbar-form navbar-left">
            <a class="btn btn-default" href="#">
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> CATEGORIES
            </a>
          </div>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <% if @current_user.nil? %>
              <li><%= link_to "Login", '#loginModal', class:'navbar-link', data:{toggle:'modal'}%></li> 
              <li><%= link_to "Create Account", '#loginModal', class:'navbar-link', data:{toggle:'modal'}%></li>
            <% else %>
              <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= @current_user.name %></a></p>
              <li><%= button_to "Logout", logout_path, method: 'delete', class:"btn navbar-btn btn-default" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2015</p>
      </footer>

    </div> <!-- /container -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>

    <script>
        $(".grid").imagesLoaded(function() {
            $('.grid').masonry({
                itemSelector: '.grid-item'
            });
        });
    </script>

  </body>
</html>
